@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

:root {
    --heading-font: Josefin sans;
    --paragraph-font: Titillium Web;
    --intro-font: 'Pirata One';
    --secondary-color: rgba(206,88,5,1);
    --light-grey: rgba(202, 202, 202, 1);
    --primary-color: rgba(255, 255, 255, .8);
}